.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 10rem;
    background-image: linear-gradient(to right, 
    transparent calc(50% - 0.5px), 
    #e0e0e0 calc(50% - 0.5px), 
    #e0e0e0 calc(50% + 0.5px), 
    transparent calc(50% + 0.5px));
  background-size: 100% 83%; /* 高さをコンテナの50%に */
  background-position: center;
  background-repeat: no-repeat;

}

.left-container{
    width:100%;
    justify-content: flex-start;
}

.right-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.contact-title {
    padding: 0;
    margin: 0;
    font-size: 2rem;
}

.message-container {
    display: flex;
    align-items: center;
    padding-top: 4rem;
}

.message-container_2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.message {
    padding: 2rem;
    width: 70%;
    text-align: justify;
    line-height: 1.6;
    max-width: 451px;
    font-weight: 400;
    font-size: larger;
}

.form {
    padding-left: 3rem;
    margin-top:3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 961px){
    .message-container{
        padding-top:0;
    }
}

@media (max-width: 813px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        background: none;
    }

    .right-container{
        justify-content: center;
    }

    .title, .message {
        /* border: 2px solid black; */
        display: flex;
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .form {
        padding: 0;
        margin: 0;
    }
    
    }

@media (max-width: 480px){
    .message-container_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .message {
        padding: 1rem;
        font-size: 15px;
        line-height: 1.3;
    }
}
    
