<div class="contact-container">
    <div class="left-container">
        <h1 class="title">Contact Me</h1>
        <p class="message">You can use this form to get in touch with Nao. 
            <br>Just fill in the details below and send it off! 
            <br>After you submit the form, you'll automatically receive 
            <br>a reply to let you know it's been received. 
            <br>Nao will get back to you as soon as possible. 
            <br>Thanks for reaching out!</p>
    </div>
    <div class="right-container">
        <app-form class="form"/>
    </div>
</div>
