<div class="contact-container">
    <div class="left-container">
        <h2 class="contact-title">Contact Me</h2>
        <div class="message-container">
            <div class="message-container_2">
                <p class="message">You can use this form to get in touch with Nao. 
                    <br>Just fill in the details below and send it off! 
                    <br>
                    <br>After you submit the form, you'll automatically receive 
                    a reply to let you know it's been received. 
                    <br>
                    <br>Nao will get back to you as soon as possible. 
                    <br>Thanks for reaching out!
                </p>
            </div>
        </div>
    </div>
    <div class="right-container">
        <app-form class="form"/>
    </div>
</div>
