.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

@media (max-width: 1486px) {
    .card-container {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    
    .card {
        width: 100%;
        max-width: 400px;
        margin: 8px 0;
    }
    }
    

@media (max-width: 480px) {
.card {
    height: 10rem;
}
      }