.card {
  width: 28rem;
  height: 19rem;
  margin: 16px;
  transition: transform 0.3s ease;
  background: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.icon {
  width: 3.5rem;
}

.title-group {
  margin-bottom: 1rem;
}

.tech-subtitle {
 font-size: 1.3rem;
}

.tech-description {
 font-size: 1.25rem;
 line-height: 1.5;
}