/* .card {
    max-width: 400px;
    margin-bottom: 8px;
  }
   */

.card {
  width: 17rem;
  height: 12rem;
  margin: 16px;
  transition: transform 0.3s ease;
  background: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.icon {
  width: 3.5rem;
}