<mat-card class="card" appearance="raised">
    <mat-card-header>
      <mat-card-title-group class="title-group">
        <mat-card-title><h3>{{technologies.title}}</h3></mat-card-title>
        <mat-card-subtitle><p class="tech-subtitle">{{technologies.subtitle}}</p></mat-card-subtitle>
        <img mat-card-sm-image src={{technologies.icon}} class="icon" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p class="tech-description">{{technologies.description}}</p>
    </mat-card-content>
  </mat-card>
