* {
    box-sizing: border-box;
}

.about-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-container {
    /* border: 2px solid orange; */
    width: 50%;
    height:100%;
    padding-left: 8vw;

}

.right-container {
    /* border: 2px solid red; */
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
}

.message {
     /* border: 2px solid greenyellow; */
    /* padding: 0 5rem; */
    text-align: justify;
}

.persona {
    /* width: 20rem;
    max-width: 100%; */
    height: 250px;
    padding: 10px 0;
}

@media (max-width: 813px) {
    .about-container {
        /* border: 2px solid black; */
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .right-container {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
    }

    .persona {
        width: 10rem;
        padding: 0;
        margin:0;
    }

    .message{
        margin:0;
        padding:1rem;
    }

    }
    
@media (max-width: 480px) {
.persona {
    width: 8rem;
}


    }