<div class="about-container">
    <div class="left-container">
        <h3 class="message">Nao Mukai</h3>
        <p class="message">I'm a QA Engineer with a strong passion for quality assurance, 
            based in Salamanca, Spain.
            With a background in both front-end and back-end development, 
            I have a deep understanding of the entire SDLC. 
            In previous roles, communication skills were paramount. 
            Now I combine my technical expertise with my ability to collaborate effectively.
            </p>
    </div>
    <div class="right-container">
        <div class="image-container">
            <img src="assets/persona.png" alt="nao image" class="persona">
        </div>
    </div>
</div>
