.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;
}

.left-container {
    padding-left: 5em;
    width: 50%;
}

.right-container {
    padding: 0 5em;
    width: 50%;
}

.persona {
    width: 20rem;
    max-width: 100%;
}