* {
    box-sizing: border-box;
}

.about-container {
    margin: 0 auto;
    padding: 0 10rem;
}

.left-container {
    /* width: 50%;
    height:100%;
    padding-left: 8vw; */
    position: relative;
}

.float-image {
    float: right;
    margin: 0 0 1rem 2rem;
    max-width: 220px;
}

.right-container {
    /* border: 2px solid red; */
    width: 50%;
    height:100%;
    display: flex;
    justify-content: center;
}

.message {
    font-size: 1.25rem;
    line-height: 1.7;
    text-align: justify;
}

.persona {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.left-container::after {
    content: "";
    display: block;
    clear: both;
}

.writer-name {
    font-size: 2rem;
}

@media (max-width: 813px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .right-container {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
    }

    .left-container {
        /* border: 2px solid black; */
        margin: 0;
        padding: 0;
    }

    .persona {
        width: 10rem;
        padding: 0;
        margin:0;
    }

    .message{
        margin:0;
        padding:1rem;
    }

    }
    
@media (max-width: 480px) {
.persona {
    width: 8rem;
}


    }