<div>

    <div class="icon-container">
      <a href="https://www.linkedin.com/in/nao-mukai/" 
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn Profile"
          class="icon-link">
        <img src="assets/linkedin.png" alt="LinkedIn logo" class="logo1">
      </a>
      <a href="https://github.com/naopeke" 
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub Profile"
          class="icon-link">
        <img src="assets/github.png" alt="GitHub logo" class="logo2">
      </a>
    </div>
</div>
