.icon-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.logo1, .logo2 {
    width: 60px;
    opacity: 0.5;
    transition: transform 0.6s ease,filter 0.3s ease;
    border-radius: 50%;
}

.logo1:hover, .logo2:hover{
    opacity: 1;
    transform: scale(1.2)
}

.icon-link {
    display: inline-flex;
    border-radius: 50%;
}