.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5rem;

}

.menu-container a:focus-visible,
.menu-container button:focus-visible {
    outline: 3px solid #005fcc;
    outline-offset: 3px;
}

.menu-container button {
    font-size: 1.25rem;
}