.hero-container {
    background:linear-gradient(35deg,rgb(6,0,151) 0%,rgb(130,4,255) 73%,rgb(193,15,255) 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

.left-container{
    margin-left: 5em;
}

.right-container{
    margin-left: 2em;
    margin-right: 2em;
}

.message {
    color: rgba(245, 245, 245, 0.89);
}

.title {
    font-size: 2rem;
}

.comment {
    font-size: 1.4rem;
}

@media (max-width: 813px) {
    .hero-container {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }
    .image {
        height: 15rem;
    }
    }
    
@media (max-width: 480px) {
.card {
    height: 10rem; /* 高さを少し縮小 */
}
    }