<section class="hero-container" aria-labelledby="hero-title">
    <div class="left-container">
        <h1 
            #heroTitle
            id="hero-title"
            class="message title" 
            tabindex="-1">
            Passionate about Quality
        </h1>
        <p class="message comment">Improving internal communication to drive higher-quality software</p>
        <p class="visually-hidden">This is an accessible portfolio built according to WCAG guidelines</p>
    </div>
    <div class="right-container">
        <img src="assets/hero-img.svg" alt="abstract illustration representing software development" class="image">
    </div>
</section>
