.card {
    width: 17rem;
    height: 20rem;
    margin: 16px;
    transition: transform 0.3s ease;
    background: transparent;
    box-shadow: none;
    border: none;
  }

.icon {
    width: 3rem
}

.title {
    font-weight: bold
}

.description {
    text-align: justify;
}

@media (max-width: 962px) {
.card {
    margin: 0;
}
    }