.card {
    width: 23rem;
    height: 25rem;
    margin: 16px;
    transition: transform 0.3s ease;
    background: transparent;
    box-shadow: none;
    border: none;
  }

.icon {
    width: 3rem
}

.exp-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.exp-description {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.6;
}

@media (max-width: 962px) {
.card {
    margin: 0;
}
    }