.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.field {
    background: transparent;
}

.button {
    margin: 8px 8px 8px 0;
    width: 10rem;
}

.button:hover{
    animation: vibrate 0.3s linear infinite alternate;
}

@keyframes vibrate {
    0% {
      transform: rotate(5deg) translateX(-1px) translateY(-1px);
    }
    25% {
      transform: rotate(6deg) translateX(1px) translateY(1px);
    }
    50% {
      transform: rotate(4deg) translateX(1px) translateY(-1px);
    }
    75% {
      transform: rotate(6deg) translateX(-1px) translateY(1px);
    }
    100% {
      transform: rotate(5deg) translateX(-1px) translateY(-1px);
    }
  }