<div class="form-container">
    <div class="form-border">
        <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="form.name" required>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="form.email" required>
        </mat-form-field>
        <mat-form-field class="form-field-message">
            <mat-label>Message</mat-label>
            <textarea matInput [(ngModel)]="form.message" required></textarea>
        </mat-form-field>
        <button mat-flat-button (click)="send()" class="button">Send</button>
    </div>
</div>

    <!-- <input type="text" placeholder="Name" [(ngModel)]="form.name">
    <input type="email" placeholder="Email" [(ngModel)]="form.email">
    <textarea placeholder="message" [(ngModel)]="form.message"></textarea>
    <button (click)="send()">Send</button> -->
