.card-container{
    display: flex;
    gap: 0 3rem;
}

.title {
    padding: 0;
    margin:0;
    font-size: 2rem;
}

.experience-container {
    padding: 3rem 10rem;
}

@media (max-width: 1486px) {

.experience-container {
    margin-top: 5rem;
}

.card-container {
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0;
}
}

/* モバイル用の追加調整 */
/* @media (max-width: 480px) {
.card {
    height: 10rem; 
}
  } */